.header {
    background-color: #40B63B;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

.logo_principal {
    width:20% ;
    height: 10%;
    position: sticky;
}