.container-nav {
    list-style-type: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: antiquewhite;
    text-decoration: none;
}

.menu-btn {
    display: none;
}