* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #40B63B;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1000;
}
.header__logo_principal {
  width: 20%;
  height: 10%;
  position: sticky;
}
.header__menu-btn {
  display: none;
}
.header__nav-item a {
  color: antiquewhite;
  text-decoration: none;
}
.header__nav-item {
  margin-right: 20px;
}
.header__nav-item a {
  transition: color 0.3s ease;
  position: relative;
}
.header__nav-item a:hover {
  color: #087e08;
}
.header__nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #1f6926;
  transition: width 0.3s;
}
.header__nav-item a:hover::after {
  width: 100%;
}
.header__container-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.footer {
  background-color: #40B63B;
  margin: 0px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__footer-text {
  text-align: center;
}
.footer__left h4 {
  order: 1;
}
.footer__social-icons {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}
.footer__logo_principal {
  width: 20%;
  height: 10%;
  position: sticky;
}

.mainIndex {
  background-color: rgba(235, 220, 173, 0.8352941176);
  margin: 0px;
  padding: 0%;
}
.mainIndex__imginicio {
  width: 70%;
  height: auto;
}
.mainIndex .carousel-inner img {
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainIndex .carousel-inner {
  height: 40%;
}
.mainIndex #carouselExampleIndicators {
  width: 86%;
  height: 40%;
  margin: auto;
  padding: 20px;
}
.mainIndex__grid-containerinicio {
  display: grid;
}
.mainIndex__grid-item1 {
  grid-area: img1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainIndex__grid-item2 {
  grid-area: img2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainIndex__grid-item3 {
  grid-area: img3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainIndex__text-inicio {
  text-align: center;
  margin: 5%;
  font-size: medium;
}

.mainUbicacion {
  background-color: rgba(235, 220, 173, 0.8352941176);
  margin: 0px;
  padding: 0%;
}
.mainUbicacion__imginicio {
  width: 70%;
  height: auto;
}
.mainUbicacion__entradas {
  width: 500px;
  height: 200px;
}
.mainUbicacion__container-entradas {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.mainUbicacion__txt-ubicacion {
  text-align: center;
  font-size: medium;
}
.mainUbicacion__maps {
  display: flex;
  justify-content: center;
}
.mainUbicacion__iframe-maps {
  width: 80%;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainServicios {
  background-color: rgba(235, 220, 173, 0.8352941176);
  margin: 0px;
  padding: 0%;
}
.mainServicios img {
  width: 100%;
}
.mainServicios__row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.mainServicios__column {
  flex: 25%;
  padding: 20px;
}
.mainServicios__column img {
  margin-top: 5px;
}
.mainServicios__galeria {
  text-align: center;
  padding-top: 20px;
}

.mainOpiniones {
  background-color: rgba(235, 220, 173, 0.8352941176);
  margin: 0px;
  padding: 0%;
}
.mainOpiniones__comments-section {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 82vh;
}
.mainOpiniones__comments-section h1 {
  text-align: center;
}
.mainOpiniones__comments-list {
  margin-top: 20px;
}
.mainOpiniones__comment {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}
.mainOpiniones #comment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.mainOpiniones #comment-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.mainOpiniones #comment-form button:hover {
  background-color: #0056b3;
}

.mainContactanos {
  background-color: rgba(235, 220, 173, 0.8352941176);
  margin: 0px;
  padding: 0%;
}
.mainContactanos__gmail, .mainContactanos__whatsapp {
  max-width: 35%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 40px;
  padding-right: 25px;
  padding-top: 40px;
}
.mainContactanos__contact-info p {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainContactanos__comunicate {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.mainContactanos__title-contactanos {
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .header__container-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #686565;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .header__container-nav.show {
    display: block;
  }
  .header__nav-item {
    margin: 10px 0;
    text-align: center;
    padding: 20px;
  }
  .header__menu-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1070px) {
  .mainIndex #carouselExampleIndicators {
    width: 58%;
  }
}
@media only screen and (min-width: 770px) {
  .mainIndex__grid-containerinicio {
    grid-template-areas: "img1 img2 img3";
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .mainIndex__grid-containerinicio {
    grid-template-areas: "img1" "img2" "img3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .mainIndex__imginicio {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) {
  .mainUbicacion__grid-containerubicacion {
    grid-template-areas: "img1 img2 img3";
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 769px) {
  .mainUbicacion__grid-containerubicacion {
    grid-template-areas: "img1" "img2" "img3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .mainUbicacion__entradas {
    width: 70%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 755px) {
  .mainContactanos__contact-info {
    display: block;
  }
  .mainContactanos__contact-info img, .contact-info p {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 80%;
    padding-top: 20px;
    font-size: medium;
  }
}
@media (max-width: 800px) {
  .mainServicios__column {
    flex: 50%;
  }
}
@media (max-width: 600px) {
  .mainServicios__column {
    flex: 100%;
  }
}/*# sourceMappingURL=styles.css.map */